.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*Template custom css*/
.card-header .heading-elements a,
.card-header .heading-elements-toggle a {
    padding: 5px 10px;
}

body.menu-expanded img.brand-logo {
    margin-left: 43px;
}
